# ===== System =====
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# ===== IDE / Editor =====
.vscode/
*.code-workspace

# ===== Logs =====
*.log

# ===== GitHub Pages build cache =====
.cache/
dist/
build/

# ===== Temporary =====
*.tmp
*.swp
